In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [87]:
marks = []
for i in range(2):
    st_marks = []
    for j in range(30):
        st_marks.append(random.randrange(0,10)*0.5)
    marks.append(st_marks)

In [88]:
marks1 = []
for i in range(2):
    st_marks1 = []
    for j in range(30):
        
        st_marks1.append(random.randrange(1000,10000)*0.5)
    marks1.append(st_marks1)

In [89]:
df = pd.DataFrame(data={ "yearOfExperience":marks[0],"Salary": marks1[0]})

In [90]:
df

    yearOfExperience  Salary
0                0.0  1482.0
1                0.5  2305.0
2                1.5  3029.0
3                2.5  4326.5
4                2.5  4094.0
5                2.0   737.5
6                2.0  3393.0
7                0.0  2536.5
8                3.0  4086.5
9                0.5   556.5
10               1.0  3450.0
11               0.0  3583.5
12               2.5  4469.5
13               4.0  1725.0
14               4.5   882.5
15               4.5  2704.5
16               2.0   936.5
17               2.0  3175.5
18               3.5   588.5
19               0.0  2879.5
20               0.0  3324.0
21               1.0  2491.5
22               0.5  2048.5
23               4.0   696.5
24               3.5  1624.5
25               2.0  1518.5
26               4.5   510.5
27               1.5  4450.5
28               0.5  3984.5
29               0.5  1424.0

In [91]:
df.to_csv("abc.csv")